.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  ul {
    overflow-y: scroll;

    height: 80%;
  }
}