@import '../../partials/colors';

.list-item {
  border-bottom: solid 1px $silver;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  padding: 24px 0;
  
  box-sizing: border-box;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border: solid 1px $silver-dark;
    border-radius: 50%;

    width: 80%;
  }
}

.list-item:last-child {
  border-bottom: none;
}

.student-information {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  .name {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }

  li {
    padding-left: 24px;
  }

  li.name {
    padding-left: 0;
  }
}