.list-item {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  box-sizing: border-box;
}

.student-information {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}