@import '../../partials/colors';
@import '../../partials/transitions';

.list-item {
  border-bottom: solid 1px $silver;
  display: flex;
  flex-direction: row;
  
  padding: 24px 0;
  
  box-sizing: border-box;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border: solid 1px $silver-dark;
    border-radius: 50%;

    width: 80%;
  }

  button {
    background-color: transparent;
    border: none;
  
    width: 100%;
  }

  .plus-icon, 
  .minus-icon {
    fill: $grey;
    
    margin: 14px 0 0 35%;

    height: 48px;
    width: 48px;
  }
}

.list-item:last-child {
  border-bottom: none;
}

.student-information {
  display: flex;
  flex-direction: column;
  justify-self: center;
  overflow: hidden;

  .name {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }

  li {
    line-height: 1.5;
    
    padding-left: 24px;
  }

  li.name, .grades > li {
    line-height: 1;

    padding-left: 0;
  }

  li.email, .grades {
    padding-top: 24px;
  }

  .grades {
    transition: max-height 500ms $cubicBezierNoDelay;
    max-height: 0;
  }

  .open-grades {
    max-height: 100vh;
  }

  .test-number {
    display: inline-block;

    width: 87px;
  }

  .tags {
    background-color: #fff;
  }

  .tags > input {
    font-size: 16px;
    
    margin: 0;
    
    width: 140px;
  }

  .tags > ul {
    display: flex;
  }

  .tag {
    background-color: $silver-dark;
    border-radius: 4px;
    
    margin: 4px;
    padding: 8px;
  }
}

@media only screen and (max-width: 992px) {
  .list-item {
    justify-content: center;
    text-align: center;
    
    .plus-icon,
    .minus-icon {
      margin: 14px 0 0 0;
  
      height: 48px;
      width: 48px;
    }
  }

  .student-information li {
    padding-left: 0;

    .test-number {
      text-align: left;
    }
  }
}