@import '../../partials/colors';
@import '../../partials/transitions';

.search {
  border: none;
  border-bottom: solid 2px $silver;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 200;
  transition: border-bottom-color 300ms $cubicBezierNoDelay;
  outline: none;

  margin: 0 2%;
  padding: 8px 4px 4px 4px;

  box-sizing: border-box;
  width: 96%;
}

.search:focus {
  border-bottom: solid 2px black;
}