@import '../../partials/colors';

.search {
  border: none;
  border-bottom: solid 2px $silver;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 200;

  margin: 0 2%;
  padding: 0 8px;

  box-sizing: border-box;
  width: 96%;
}