@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner-icon-container {
  display: flex;
  justify-content: center;

  transform: translate(0, -50%);
  margin-top: 25%;

  height: 100px;
  width: 100%;
}

.spinner-icon {
  animation: 2s linear infinite spinner;

  position: relative;

  height: 100%;
}